<div class="container-fluid">
    <div class="row row-stat">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-divider" style="text-align: center; text-transform:uppercase;">
                    <h2 style="color: lightseagreen;"><strong>ADD EVENT</strong></h2>
                </div>
                <br>
                <br>
                <form class="form-horizontal" #form2 ="ngForm" (ngSubmit) = "onsubmitt(form2)">
                    <div class="form-group"> 
                        <div class="row">
                            <label class="col-sm-3 control-label" for="eventName"><b>EVENT NAME</b></label>
                            <div class="col-sm-9">
                                <input id="eventName" name="eventName" [(ngModel)]="eventName" class="form-control input-pill" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="row">
                            <label class="col-sm-3 control-label" for="eventImage">EVENT-IMAGE</label>
                            <div class="col-sm-9">
                                <input id="eventImage" name="eventImage" [(ngModel)]="eventImage" class="" 
                                type="file" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="row">
                            <label class="col-sm-3 control-label" for="eventOrganiseBy"><b>ORGANIZED BY</b></label>
                            <div class="col-sm-9">
                                <input id="eventOrganiseBy" name="eventOrganiseBy" [(ngModel)]="eventOrganiseBy" class="form-control input-pill" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="startDte">Start-Date</label>
                            <div class="col-sm-9">
                                <input id="startDte" name="startDte" [(ngModel)]="startDte" class="form-control input-pill" type="date">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label" for="endDate">End-Date</label>
                            <div class="col-sm-9">
                                <input id="endDate" name="endDate" [(ngModel)]="endDate" class="form-control input-pill" type="date">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-danger" value="Reset" type="submit">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
