<div class="header bg-gradient-danger pb-8 pt-2 pt-md-5">
  <div class="container-fluid">
    <div class="header-body">
      <section class="content-header">
        <h3>Directory Listing</h3>
    </section>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Personal Information</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">D.O.B</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">SPOUSE NAME</th>
                <th scope="col">SPOUSE D.O.B</th>
                <th scope="col">NO. OF CHILD</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of lis">
                <td>{{ e[0].name }}</td>
                <td>{{ e[0].date_of_birth }}</td>
                <td>{{ e[0].gender }}</td>
                <td>{{ e[0].address }}</td>
                <td>{{ e[0].spouse_name }}</td>
                <td>{{ e[0].spouse_birth_date }}</td>
                <td>{{ e[0].number_of_child }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Company Information</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Business Category</th>
                <th scope="col">Company Address</th>
                <th scope="col">About Business</th>
                <th scope="col">Keyword</th>
                <th scope="col">Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let e of lis'>
                <td>{{e[0].company_name}}</td>
                <td>{{e[0].business_category}}</td>
                <td>{{e[0].company_address}}</td>
                <td>{{e[0].about_buseness}}</td>
                <td>{{e[0].keyword}}</td>
                <td>{{e[0].experience}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>