<div class="container-fluid">
    <div class="row row-stat">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-divider" style="text-align: center; text-transform:uppercase;">
                    <h2 style="color: lightseagreen;"><strong>Add New Category</strong></h2>
                </div>
                <br>
                <br>
                <form class="form-horizontal" #form2 ="ngForm" (ngSubmit) = "onsubmitt(form2)">
                    <div class="form-group"> 
                        <div class="row">
                            <label class="col-sm-3 control-label" for="newsType"><b>CATEGORY NAME</b></label>
                            <div class="col-sm-9">
                                <input id="newsType" name="newsType" [(ngModel)]="newsType" class="form-control input-pill" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="row">
                            <label class="col-sm-3 control-label" for="categoryImage">BANNER-IMAGE</label>
                            <div class="col-sm-9">
                                <input id="categoryImage" name="categoryImage" [(ngModel)]="categoryImage" class="" 
                                type="file" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-danger" value="Reset" type="submit">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
